


@{
    ViewData["Title"] = "Главная страница";
    DateTime dateTime = DateTime.Now;
}





<div class="container mt-5">
    <div class="row align-items-center">
        
        <div class="col-md-5 text-center">
            <div class="collage">
                <img src="~/media/image1.jpg" class="collage-img">
                <img src="~/media/image3.jpg" class="collage-img">
                <img src="~/media/image2.jpg" class="collage-img">
                <img src="~/media/image4.jpg" class="collage-img">
            </div>
        </div>

        
        <div class="col-md-7">
            <div class="retro-text">
                Добро пожаловать в магазин у2к и пленочных фотоаппаратов!
            </div>
            <p class="description-text">
                У нас вы найдете уникальные коллекции пленочных фотоаппаратов и аксессуаров для любителей
                аналоговой фотографии.<br />Мы предлагаем камеры всех поколений и помогаем сохранить моменты,
                которые останутся на всю жизнь.<br />Поддержите искусство аналоговой фотографии, выбрав один
                из наших винтажных фотоаппаратов.
            </p>
            <div class="contact-icons">
                
                <a href="https://instagram.com" target="_blank" class="social-icons">
                    <i class="fab fa-instagram fa-2x"></i>
                </a>
                
                <a href="https://t.me/toshaplenka" target="_blank" class="social-icons">
                    <i class="fab fa-telegram-plane fa-2x"></i>
                </a>
                
                <a href="https://www.avito.ru/brands/i358072718" target="_blank" class="social-icons">
                    <img src="~/media/avito-icon.png" alt="Avito" class="avito-icon">
                </a>
            </div>
            
        </div>
    </div>
</div>