@model Prakt1.Models.LoginModel

<div class="container">
    <h2>Вход</h2>
    <form asp-action="SignIn" method="post">
        @* Display validation summary in red if there's any error *@
        <div class="text-danger">
            <ul>
                @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
                {
                    <li>@error.ErrorMessage</li>
                }
            </ul>
        </div>

        <div class="form-group">
            <label for="login">Логин:</label>
            <input type="text" id="login" name="Login" class="form-control" required />
        </div>
        <div class="form-group">
            <label for="password">Пароль:</label>
            <input type="password" id="password" name="Password" class="form-control" required />
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Войти</button>
        </div>
        <div>
            <p>Нет аккаунта? <a asp-controller="Home" asp-action="SignUp">Зарегистрироваться</a></p>
        </div>
    </form>
</div>
